  html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    height: 100%;
    scroll-padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;

  }

  .content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    text-align: center;
  }

  .sec {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
  }

  .sec-a,
  .sec-b {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .sec-a,
  .contact .sec-b {
    height: 45%;
  }

  .sec-c {
    height: 10%;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .hero .sec-a {
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .sec-b {
    position: relative;
    z-index: 1;
  }

  .sec-a::before,
  .sec-b::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero .sec-a {
    background-image: url('../images/mesa-trabalho.jpg');
  }

  .introduction .sec-b {
    background-image: url("../images/creativity.jpeg");
  }

  .mission .sec-b {
    background-image: url("../images/innovation.jpeg");
  }

  .about .sec-b {
    background-image: url("../images/collaborative.jpeg");
  }

  .contact .sec-b {
    background-image: url("../images/mapinha.jpeg");
  }

  .bg-sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .hero .sec-a::before {
    background: linear-gradient(45deg, rgba(255, 255, 0, 0.5), rgba(255, 0, 0, 0.5));
    z-index: -1;
  }

  .sec-b::before {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(187, 187, 187, 0.3));
    z-index: -1;
  }


  h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    width: 80vw;
  }

  h1+hr {
    border: 1px solid #fff;
    box-shadow:
      -1px 1px 1px #a3a3a3,
      1px 1px 1px #a3a3a3;
  }

  h1~p {
    color: #fff;
    text-shadow:
      -1px 1px 1px #a3a3a3,
      1px 1px 1px #a3a3a3;
  }

  p {
    width: 75vw;
    font-size: 1rem;
  }

  hr {
    border: 1px solid #333;
    margin: 2rem auto;
    width: 60%;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 2rem;
    color: #fff;
    width: 20rem;
    height: 4rem;
    border: 2px solid #fff;
    /*border-radius: 5px;*/
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 1px #a3a3a3;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1,
  h3 {
    text-shadow:
      -1px 1px 1px #a3a3a3,
      1px 1px 1px #a3a3a3;
  }

  .active {
    background-color: #fff;
  }

  .active a {
    color: #333;
  }

  .selected a {
    color: gold;
  }

  .ops {
    border-top: 1px groove #a3a3a3;
    padding: 1rem 0;
    margin: 0 auto;
  }

  .box-form-contact {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 1rem 1rem 1.5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    position: absolute;
  }

  .box-form-contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: initial;
    text-indent: 1rem;
  }

  .box-form-contact label {
    margin-top: 0.5rem;
  }

  .box-form-contact form input {
    border-bottom: 1px solid #333;
    background-color: transparent;
    text-indent: 1rem;
  }

  .box-form-contact form textarea {
    border-bottom: 1px solid #333;
    background-color: transparent;
    text-indent: 1rem;
  }

  .navigation {
    font-size: 2rem;
    text-align: left;
    z-index: 3;
    /*pointer-events: none;
    overflow: hidden;*/
  }
  

  .navigation>* {
    /*pointer-events: auto;*/
  }
  


  .nav-list,
  .nav-close {
    transition: margin-left 0.5s ease;
  }

  .nav-list {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #333;
    margin-left: -61%;
    z-index: 3;
  }

  .move-nav-list {
    margin-left: 0%;
  }

  .nav-close {
    position: absolute;
    width: 100%;
    height: 700%;
    background-color: rgba(255, 165, 0, 0.1);
    right: 0;
    margin-right: -100%;
    z-index: 2;
  }

  .move-nav-close {
    margin-right: 0%;
  }


  li {
    padding: 10px 0 6px 20px;
  }

  .lang-flags {
    position: fixed;
    right: 30px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
    /*background-color: rgba(51, 51, 51, 0.1);*/
    cursor: pointer;
    z-index: 2;
  }

  .nav-icon {
    transition:
      margin-left 0.5s ease,
      background-color 2s ease;
    position: fixed;
    top: 10px;
    left: 20px;
    color: #fff;
    width: 2.6rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }

  .move-nav-icon {
    margin-left: 62%;
  }

  .nav-icon-background {
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.1);
  }

  /* video */

  .sec-b.bg-sec.video-container {
    position: relative;
  }

  .sec-b.bg-sec.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .sec-b.bg-sec.video-container h3 {
    position: relative;
    z-index: 2;
  }

  .sec-b.bg-sec.video-container::before {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(187, 187, 187, 0.3));
    z-index: 3;
  }
  
  
  
.copy {
  margin-top: .375rem;
  font-size: .7rem;
}
.socials {
  font-size: .8rem;
  width: 11.25rem;
  display: flex;
  justify-content: space-evenly;
}
.socials a {font-weight: normal;}
.socials a:link {color: #f2f2f2;}
.socials a:visited {color: #f2f2f2;}
.socials a:active {color: rebeccapurple;}

.socials .fa-linkedin-in:hover {color: #007bb5;}
.socials .fa-github:hover {color: black; position: relative; display: flex; align-items: center; justify-content: center;}
.socials .fa-github:hover::before {z-index: 2;}
.socials .fa-github:hover::after {content: ""; position: absolute; width: 90%; height:90%; border-radius: 50%; background-color: white;}
.socials .fa-tiktok:hover {text-shadow: 0.0625rem 0.0625rem 0.125rem magenta, -0.0625rem -0.0625rem 0.125rem cyan; color: black;}
.socials .fa-youtube:hover { color: #bb0000; position: relative; display: flex; align-items: center; justify-content: center;}
.socials .fa-youtube:hover::before {z-index: 2;}
.socials .fa-youtube:hover::after {content: ""; position: absolute; width: 60%; height:60%; border-radius: 50%; background-color: white;}
.socials .fa-dribbble:hover {color: #ea4c89; position: relative; display: flex; align-items: center; justify-content: center;}
.socials .fa-dribbble:hover::before {z-index: 2;}
.socials .fa-dribbble:hover::after {content: ""; position: absolute; width: 80%; height:80%; border-radius: 50%; background-color: lightpink;}
.socials .fa-x-twitter:hover {color: #55ACEE;}
.socials .fa-behance:hover {color: #0057ff;}
.socials .fa-pinterest-p:hover {color: #bb0000;}


button {
  background-color: #808079;
  color: #fff;
  width: 6rem;
  margin-top: 0.9rem;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}