  html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    height: 100%;
    scroll-padding-bottom: 50px;
  }

  .content {
    width: 100%;
    height: 100%;

    position: fixed;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .sec {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    scroll-snap-align: start;
  }

  .sec-a,
  .sec-b {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .contact .sec-a,
  .contact .sec-b {
    height: 45%;
  }

  .sec-b {
    border: 1px solid red;
  }

  .hide {
    display: none;
  }

  hr {
    border: 1px solid black;
    margin: 2rem auto;
    width: 60%;
  }

  .hero .sec-a {
    height: 100%;
    position: relative;
    z-index: 3;
  }
  
  .hero .sec-a::after,
  .hero .sec-a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .hero .sec-a::before {
    background-image: url('../images/mesa-trabalho.jpg');
    z-index: -1;
  }
  
  .hero .sec-a::after {
    background: linear-gradient(45deg, rgba(255, 255, 0, 0.5), rgba(255, 0, 0, 0.5));
    z-index: -1;
  }

  .introduction .sec-b {
    background-image: url("../images/creativity.jpeg");
  }

  innovation {
    background-image: url("../images/innovation.jpeg");
  }

  collaborative {
    background-image: url("../images/collaborative.jpeg")
  }

  contact {
    background-image: url("../images/mapinha.jpeg")
  }
  
  .bg-sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }