* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  /*user-select: none;*/
  outline: none;
  list-style: none;
}
a:link {text-decoration: none;color: #fff;}
a:visited {text-decoration: none; color: #fff;}
a:hover {text-decoration: none;color: #fff;}
a:active {text-decoration: none;color: #fff;}
a:focus {text-decoration: none;color: #fff;}