/* responsivo */

@media only screen and (orientation: landscape) {
  .sec {
    flex-direction: row;
    position: relative;
  }

  .sec-a,
  .sec-b {
    width: 50%;
    height: 100%;
  }

  .hero .sec-a {
    width: 100%;
  }

  .introduction .sec-a,
  .professional .sec-a {
    position: absolute;
    left: 0;
  }

  .introduction .sec-b,
  .professional .sec-b {
    position: absolute;
    left: 50%;
  }

  .mission .sec-a,
  .about .sec-a {
    position: absolute;
    left: 50%;
  }

  .mission .sec-b,
  .about .sec-b {
    position: absolute;
    left: 0;
  }


  /* ------------- */
  
  .sec.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact .sec-a,
  .contact .sec-b {
    width: 50%;
    height: 80%
  }

  .contact .sec-c {
  width: 100%;
  height: 20%;
  }

  /* ------------- */
  /* ------------- */
  p {
    font-size: 0.9rem;
    width: 40vw;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  .navigation {
    font-size: 1.6rem;
  }

  li {
    padding: 5px 0 3px 10px;
  }
  hr {
    max-width: 200px;
  }
  /**/

  .move-nav-icon {
    margin-left: 31%;
  }

  .nav-list {
    width: 30%;
    margin-left: -31%;
  }

  .move-nav-list {
    margin-left: 0%;
  }


  /**/



}

@media only screen and (min-height: 651px) {
  .contact .sec-a,
  .contact .sec-b {
    height: 90%;
  }
  .contact .sec-c {
    height: 10%;
  }
  .sec-b .box-form-contact {
    height: fit-content;
   }
}

@media only screen and (max-height: 450px) {
 .sec-c .socials {
    font-size: 0.6rem;
    color: red;
  }
  .sec-c .copy {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    color: red;
  }
}

@media only screen and (max-height: 320) {
  .sec-c .socials {
     font-size: 0.5rem;
     color: red;
   }
   .sec-c .copy {
     font-size: 0.4rem;
     letter-spacing: 0.05rem;
     color: red;
   }
}





















