@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Lato:300:400); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 1rem; 
  vertical-align: baseline;
  text-decoration: none;
  user-select: none;
  outline: none;
  list-style: none;
}
a:link {text-decoration: none;color: #000;}
a:visited {text-decoration: none; color: #000;}
a:hover {text-decoration: none;color: #000;}
a:active {text-decoration: none;color: #000;}

