@media only screen and (max-width: 600px) {
    html {
        width: 100vw;
        height: 100vh;
    }
    body {
        width: 100%;
        height: 100%;        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* body */
    .titulo {
        width: 100%;
        padding: 2vh;
    }
    .section-content {
        flex: 1;
    }
    .rodape {
        width: 100%;
        padding: 2vh;
        text-align: center;
    }

    /* ...*/
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        letter-spacing: 0.02rem;
        text-shadow: 0.2rem 0.2rem #aaa;
        font-variant: small-caps;
        font-size: 220%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }
    .section-content {
        width: 90%;
        border: 1px solid #cdcdcd; 
        display: flex;
        flex-direction: column;
    }
    .title {
        border-bottom: 1px solid #cdcdcd;
        padding: 10px;
        text-align: center;
    }
    .content-wrapper {
        flex: 1;
        flex-basis: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 320px;
    }
    .choice-list {
        flex-basis: 300px;
        width: 100%;
        
    }
    .output {
        width: 100%;
        flex-basis: 300px;
        display: flex;
        justify-content: center;
        overflow: auto;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    
    li {
        width: 95%;
        flex-basis: 15%;
        cursor: pointer;
        border: 1px solid #cdcdcd; 
        background-color: #f9f9fb;
        border-radius: 0.5rem; 
        white-space: nowrap;
        display: flex;
        align-items: center;
        text-indent: 1rem; 
        position: relative;
        z-index: 1;
        transition: background-color .2s ease-out, border .2s ease-out;
    }
    #default-example {
        height: 600px;
        width: 70%;
    }
    #example-element {
        max-width: 30rem;
        height: 100%;
        background-image: url('https://raw.githubusercontent.com/brunomoraesdigital/ressources/main/bruno-bm-folio.png'),
                          url('https://github.com/brunomoraesdigital/ressources/raw/main/programer%20girl%20anime.png');    
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
        overflow-y: scroll;
        padding: 20px;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #example-element {
        scrollbar-width: normal;
        scrollbar-color: #777 #555;
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-track {
            background-color: darkgray;
        }
    }
/* Estilos para a classe 'fixed' */
.fixed {
    /*  */
    background-attachment: fixed;
    background-position: 80% 65%;
    background-repeat: no-repeat;
    background-size: 210px, cover;
  }
  
  .scroll {
    /*  */
    background-attachment: scroll;
    background-position: 30% 16%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
  }
  
  .local {
    /*  */
    background-attachment: local;
    background-position: 50% 1.8%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
  }
  
  .local-scroll {
    /*  */
    background-attachment: local, scroll;
    background-position: 50% 1.8%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
  }
  
  .scroll-local {
    /*  */
    background-attachment: scroll, local;
    background-position: 30% 16%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
  }
  
  /* Estilos comuns para a classe 'selecionado' */
  .selecionado {
  }

}